venv*/*
api/venv
api/ENV
__pycache__
api/.idea
docker-compose-dev.yml
benchmark/__benchmark_data
benchmark/www
*.swp
tests/tests_py_tag2domain/db_mock_data/db.cfg
*.pyc
.env
msm2tag2domain/docker/msm2tag2domain.cfg
password
.coverage
tests/config/db.cfg
htmlcov/
db.config.sh
