# username - must be the same a specified in tests/config/db.cfg
POSTGRES_USER=<TEST DB USER NAME>

# password - must be the same a specified in tests/config/db.cfg
POSTGRES_PASSWORD=<TEST DB PASSWORD>

TAG2DOMAIN_SCHEMA=tag2domain