attrs==19.3.0
click==7.1.2
envelope==1.1
fastapi==0.54.2
h11==0.9.0
httptools==0.1.1
importlib-metadata==1.6.1
jsonpickle==1.4.1
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
psycopg2-binary==2.8.5
py==1.8.1
pydantic>=1.5.1,<2.0.0
pyparsing==2.4.7
pytest==5.4.3
python-gnupg==0.4.6
python-magic==0.4.18
six==1.15.0
starlette==0.13.2
uvicorn==0.11.5
uvloop==0.14.0
wcwidth==0.2.4
websockets==8.1
zipp==3.1.0
python-dotenv==0.13.0
